body{
    background-color: #09161a;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

main{
    border: 1px solid #6d3726;
    text-align: center;
    margin: 20px 20px;
    border-radius: 20px;
    padding: 30px;
}

div{
    width: 49%;
}

h1{
    color: aliceblue;
}

main > p{
    text-align: justify;
    color: aliceblue;
    text-indent: 30px;
}

header{
    font-size: 1.5em;
    background-color: transparent;
    border: 3px solid #16333e;
    margin: 30px;
    padding: 10px;
}

a{
    color: aliceblue;
    text-decoration: none;
    margin: 0px 40px
}

a:hover{
    color: aliceblue;
    font-style: italic;
}

header > p{
    text-align: center;
}

footer{
    text-align: center;
}

button{
    height: 60px;
    width: 100px;
    color: aliceblue;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #6d3726;
    
}

.botao{
    text-align: center;
    width: 100%;
}

button:hover{
    background-color: #6d3726;
    color: #09161a;
}

.principal{
    display: inline-block;
}

.imagem{
    width: 50%;
    height: 100%;
    display: inline-block;
}

img{
    border-radius: 10px;
    width: 100%
}